In [6]:
import pandas as pd

In [7]:
uselog = pd.read_csv("../input/use_log.csv")
customer = pd.read_csv("../input/customer_join.csv")

print(uselog.isnull().sum())
print(customer.isnull().sum())

log_id         0
customer_id    0
usedate        0
dtype: int64
customer_id          0
name                 0
class                0
gender               0
start_date           0
end_date         73671
campaign_id          0
is_deleted           0
class_name           0
price                0
campaign_name        0
mean                 0
median               0
max                  0
min                  0
routine_flg          0
dtype: int64

In [8]:
uselog.head()

            log_id customer_id     usedate
0  L00000049012330    AS009373  2018-04-01
1  L00000049012331    AS015315  2018-04-01
2  L00000049012332    AS040841  2018-04-01
3  L00000049012333    AS046594  2018-04-01
4  L00000049012334    AS073285  2018-04-01

In [9]:
customer.head()

,customer_id,name,class,gender,start_date,end_date,campaign_id,is_deleted,class_name,price,campaign_name,mean,median,max,min,routine_flg
0,OA832399,XXXX,C01,F,2015-05-01,NaN,CA1,0,オールタイム,10500,通常,4.833333,5.0,8,2,0
1,OA832399,XXXX,C01,F,2015-05-01,NaN,CA1,0,オールタイム,10500,通常,4.833333,5.0,8,2,0
2,OA832399,XXXX,C01,F,2015-05-01,NaN,CA1,0,オールタイム,10500,通常,4.833333,5.0,8,2,1
3,OA832399,XXXX,C01,F,2015-05-01,NaN,CA1,0,オールタイム,10500,通常,4.833333,5.0,8,2,1
4,OA832399,XXXX,C01,F,2015-05-01,NaN,CA1,0,オールタイム,10500,通常,4.833333,5.0,8,2,0

In [ ]:
customer_clustering = customer[["mean", "median", "max", "min", "membership_period"]]
customer_clustering.head()

In [ ]:
from sklearn import preprocessing

std_scal = preprocessing.StandardScaler()
customer_clustering_std = std_scal.fit_transform(customer_clustering)

In [ ]:
from sklearn import cluster

kmeans = cluster.KMeans(n_clusters=4, random_state=0)
clusters = kmeans.fit(customer_clustering_std)

In [ ]:
customer_clustering["clusters"] = clusters.labels_
print(customer_clustering["clusters"].unique())
customer_clustering.head()

In [ ]:
customer_clustering.columns = ["月内平均値", "月内中央値", "", "", "", ""]